.env

.gradle/
build/
classes/
out/
run/
temp/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# macos

*.DS_Store
